<a href="https://colab.research.google.com/github/vinosraj/codingdojo-exercise/blob/main/Project_1_Part_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Project 1- Part 5


*   Vino Raj
*   02/24/2022

For Part 5, you will go back to your original dataset with the goal of preventing data leakage.  

Please note: If you imputed missing values based on a calculation on the entire dataset (such as mean), you should now perform that step after the train test split using SimpleImputer.  

Identify the target (X) and features (y): Assign the "Item_Outlet_Sales" column as your target and the rest of the relevant variables as your features matrix.  
Perform a train test split 
Create a pre processing pipeline to prepare the dataset for Machine Learning

In [ ]:
import pandas as pd
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn import set_config
set_config(display='diagram')
import numpy as np

In [ ]:
filename = '/content/drive/MyDrive/Coding Dojo/02 Week 2 :Pandas/data/sales_predictions.csv'

df = pd.read_csv(filename)

In [ ]:
# Take a look at the first five rows of the dataframe

df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [ ]:
# Look at the info from the data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [ ]:
# Are there duplicates? If so, drop any duplicates.

df.duplicated().any()

False

In [ ]:
#Identify missing values.

In [ ]:
null_vals = df.isna().sum()
null_vals[null_vals>0].index

Index(['Item_Weight', 'Outlet_Size'], dtype='object')

Will use simpleImputer with Mean for ItemWeight (numerical) and Frequency for Outlet Size (catergorical)

In [ ]:
#dealing with ordinal datatype. The three are Outlet_Location_Type, Outlet_Size, Outlet_Type, using replace method

In [ ]:
df['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [ ]:
df['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [ ]:
df['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [ ]:
df['Outlet_Location_Type'].replace({'Tier 1':0, 'Tier 2':1,  'Tier 3':2}, inplace=True)
df['Outlet_Size'].replace({'Small':0, 'Medium':1,  'High':2}, inplace=True)
df['Outlet_Type'].replace({'Grocery Store':0, 'Supermarket Type1':1,  'Supermarket Type2':2,'Supermarket Type3':3}, inplace=True)

In [ ]:
df.head()

  Item_Identifier  Item_Weight  ... Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...           1          3735.1380
1           DRC01         5.92  ...           2           443.4228
2           FDN15        17.50  ...           1          2097.2700
3           FDX07        19.20  ...           0           732.3800
4           NCD19         8.93  ...           1           994.7052

[5 rows x 12 columns]

Finding in consistant catergories

In [ ]:
data_types = df.dtypes
str_cols = data_types[ data_types=='object'].index
str_cols

Index(['Item_Identifier', 'Item_Fat_Content', 'Item_Type',
       'Outlet_Identifier'],
      dtype='object')

In [ ]:
for col in str_cols:
    print(f'- {col}:')
    print(df[col].value_counts(dropna=False))
    print("\n\n")

- Item_Identifier:
FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64



- Item_Fat_Content:
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64



- Item_Type:
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64



- Outlet_Identifier:
OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

I will drop the rows for Outlet Identifier and Item Identifier

#Fix naming error for:
Item_Fat_Content:

Low Fat   
Regular    
LF          
reg         
low fat

In [ ]:

repl_map ={'LF':'Low Fat',
           'low fat': 'Low Fat',
           'reg':'Regular'}

df['Item_Fat_Content'] = df['Item_Fat_Content'].replace(repl_map)
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [ ]:
df.head()

  Item_Identifier  Item_Weight  ... Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...           1          3735.1380
1           DRC01         5.92  ...           2           443.4228
2           FDN15        17.50  ...           1          2097.2700
3           FDX07        19.20  ...           0           732.3800
4           NCD19         8.93  ...           1           994.7052

[5 rows x 12 columns]



##Moving to Machine Learning Data preparation

Identify the target (X) and features (y): Assign the "Item_Outlet_Sales" column as your target and the rest of the relevant variables as your features matrix.  
Perform a train test split 
Create a pre processing pipeline to prepare the dataset for Machine Learning

In [ ]:
#Define features (X) and target (y).
X = df.drop(columns=['Item_Identifier','Outlet_Identifier','Item_Outlet_Sales'])
y = df['Item_Outlet_Sales']

#Train test split the data to prepare for machine learning.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                7060 non-null   float64
 1   Item_Fat_Content           8523 non-null   object
 2   Item_Visibility            8523 non-null   float64
 3   Item_Type                  8523 non-null   object
 4   Item_MRP                   8523 non-null   float64
 5   Outlet_Establishment_Year  8523 non-null   int64
 6   Outlet_Size                6113 non-null   float64
 7   Outlet_Location_Type       8523 non-null   int64
 8   Outlet_Type                8523 non-null   int64
dtypes: float64(4), int64(3), object(2)
memory usage: 599.4+ KB

In [ ]:
num_selector = make_column_selector(dtype_include='number')
cat_selector = make_column_selector(dtype_include='object')

In [ ]:
scaler = StandardScaler()
ohe_encoder= OneHotEncoder(sparse=False, handle_unknown='ignore')

In [ ]:
freq_imputer = SimpleImputer(strategy='most_frequent')
mean_imputer = SimpleImputer(strategy='mean')

In [ ]:
num_processor = make_pipeline(mean_imputer, scaler)
cat_processor = make_pipeline(freq_imputer, ohe_encoder)

In [ ]:
num_tuple = (num_processor, num_selector)
cat_tuple = (cat_processor, cat_selector)

In [ ]:
col_transformer = make_column_transformer (num_tuple, cat_tuple, remainder='passthrough')

In [ ]:
X_train_processed = col_transformer.fit(X_train)

In [ ]:
col_transformer.named_transformers_

cat_pipe = col_transformer.named_transformers_['pipeline-2']
cat_pipe.named_steps['onehotencoder'].get_feature_names_out(cat_selector(X_train))

array(['Item_Fat_Content_Low Fat', 'Item_Fat_Content_Regular',
       'Item_Type_Baking Goods', 'Item_Type_Breads',
       'Item_Type_Breakfast', 'Item_Type_Canned', 'Item_Type_Dairy',
       'Item_Type_Frozen Foods', 'Item_Type_Fruits and Vegetables',
       'Item_Type_Hard Drinks', 'Item_Type_Health and Hygiene',
       'Item_Type_Household', 'Item_Type_Meat', 'Item_Type_Others',
       'Item_Type_Seafood', 'Item_Type_Snack Foods',
       'Item_Type_Soft Drinks', 'Item_Type_Starchy Foods'], dtype=object)

In [ ]:
cat_feature_names = col_transformer.named_transformers_['pipeline-2']\
                               .named_steps['onehotencoder']\
                               .get_feature_names_out(cat_selector(X_train))

In [ ]:
final_cols = num_selector(X_train) + list(cat_feature_names)
final_cols

['Item_Weight',
 'Item_Visibility',
 'Item_MRP',
 'Outlet_Establishment_Year',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type',
 'Item_Fat_Content_Low Fat',
 'Item_Fat_Content_Regular',
 'Item_Type_Baking Goods',
 'Item_Type_Breads',
 'Item_Type_Breakfast',
 'Item_Type_Canned',
 'Item_Type_Dairy',
 'Item_Type_Frozen Foods',
 'Item_Type_Fruits and Vegetables',
 'Item_Type_Hard Drinks',
 'Item_Type_Health and Hygiene',
 'Item_Type_Household',
 'Item_Type_Meat',
 'Item_Type_Others',
 'Item_Type_Seafood',
 'Item_Type_Snack Foods',
 'Item_Type_Soft Drinks',
 'Item_Type_Starchy Foods']

In [ ]:
# Transform the X_train and the X_test

X_train_transformed = col_transformer.transform(X_train)

X_test_transformed = col_transformer.transform(X_test)

In [ ]:
X_train_out_put =pd.DataFrame(X_train_transformed, columns = final_cols)
X_test_out_put =pd.DataFrame(X_test_transformed, columns = final_cols)

Output of pre processed data

In [ ]:
X_train_out_put.head()

   Item_Weight  Item_Visibility  ...  Item_Type_Soft Drinks  Item_Type_Starchy Foods
0     0.817249        -0.712775  ...                    0.0                      0.0
1     0.556340        -1.291052  ...                    0.0                      0.0
2    -0.131512         1.813319  ...                    0.0                      0.0
3    -1.169219        -1.004931  ...                    0.0                      0.0
4     1.528819        -0.965484  ...                    0.0                      0.0

[5 rows x 25 columns]